#sub_slide {
    width: 100%;
    height: 380px;
}

#carousel_slide {
    width: 1100px;
    margin: 0 auto;
}

.contents {
    margin: 0 auto;
    width: 1100px;
    height: auto;
    color: #fff;
}

.contents_in {
    margin: 0 auto;
    width: 1100px;
    height: auto;
}

.notice_area {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.notice {
    width: 550px;
    height: 184px;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(243, 243, 243);
}

.notice_h {
    width: 130px;
}

.notice_h h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #000;
}

.notice_h button {
    border: 0px;
    outline: 0px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.notice_b {
    width: 340px;
}

.notice_b div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6px;
}

.notice_b b {
    display: inline-block;
    width: 80%;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}

.notice_b span {
    color: #000;
    font-size: 12px;
}

.event_h {
    width: 100%;
    height: 50px;
    padding: 10px 0;
}

.event_h h2 {
    font-size: 30px;
    color: #000;
}

.event_tabmn {
    margin-top: 50px;
    width: 100%;
}

.items1_b {
    width: 1100px;
    height: 200px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    color: #000;
}

.items1_b img {
    height: 180px;
    float: left;
}

.items_title {
    width: 700px;
    height: 150px;
    float: left;
    margin-left: 30px;
}

.title {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    padding: 40px 0 20px 0;
}

.name {
    margin-bottom: 0;
    color: rgb(177, 177, 177);
}